- @meta = { :description => "#{AppConfig.community_name} teams.", :keywords => "#{AppConfig.meta_keywords}", :robots => AppConfig.robots_meta_list_content}
- @section = 'teams'

#yui-main
  .yui-b
    .box
      %h3 Teams

      - if @teams.any?
        %ul.flat
          = render :partial => 'summary', :collection => @teams

      - else
        No teams found.
        = link_to 'Be the first to create a team!', new_team_path

.yui-b
  .box.alt.first_alt
    = link_to 'Create a new team', new_team_path

.ads_div
  -3.times do
    .box.centered
      :plain
        <script type='text/javascript'><!--//<![CDATA[
          var m3_u = (location.protocol=='https:'?'https://ads.gamdo.com/www/delivery/ajs.php':'http://ads.gamdo.com/www/delivery/ajs.php');
          var m3_r = Math.floor(Math.random()*99999999999);
          if (!document.MAX_used) document.MAX_used = ',';
          document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
          document.write ("?zoneid=3&amp;target=_blank");
          document.write ('&amp;cb=' + m3_r);
          if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
          document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
          document.write ("&amp;loc=" + escape(window.location));
          if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
          if (document.context) document.write ("&context=" + escape(document.context));
          if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
          document.write ("'><\/scr"+"ipt>");
        //]]>--></script>
