%table.ladder
  %tr
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line.vertical-line{ :rowspan => 5 }
      %img{ :src => '/images/spacer.gif' }
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td.line.vertical-line{ :rowspan => 5 }
      %img{ :src => '/images/spacer.gif' }
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }

  %tr
    %td{ :rowspan => 3 }= match_summary @matches, 1
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td{ :rowspan => 3 }= match_summary @matches, 5

  %tr
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line.vertical-line{ :rowspan => 7 }
      %img{ :src => '/images/spacer.gif' }
    %td
    %td
    %td
    %td
    %td
    %td.line.vertical-line{ :rowspan => 7 }
      %img{ :src => '/images/spacer.gif' }
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }

  %tr
    %td{ :rowspan => 5 }= match_summary @matches, 9
    %td
    %td
    %td
    %td
    %td
    %td{ :rowspan => 5 }= match_summary @matches, 11
   
  %tr
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td
    %td
    %td
    %td
    %td
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }

  %tr
    %td
    %td
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line.vertical-line{ :rowspan => 13 }
      %img{ :src => '/images/spacer.gif' }
    %td
    %td.line.vertical-line{ :rowspan => 13 }
      %img{ :src => '/images/spacer.gif' }
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td
    %td

  %tr
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line.vertical-line{ :rowspan => 5 }
      %img{ :src => '/images/spacer.gif' }
    %td{ :rowspan => 11 }= match_summary @matches, 13
    %td{ :rowspan => 11 }= match_summary @matches, 15
    %td{ :rowspan => 11 }= match_summary @matches, 14
    %td.line.vertical-line{ :rowspan => 5 }
      %img{ :src => '/images/spacer.gif' }
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }

  %tr
    %td{ :rowspan => 3 }= match_summary @matches, 2
    %td{ :rowspan => 3 }= match_summary @matches, 6

  %tr
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }

  %tr
    %td
    %td
    %td
    %td

  %tr
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td
    %td
    %td
    %td
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }

  %tr
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td

  %tr
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line.vertical-line{ :rowspan => 5 }
      %img{ :src => '/images/spacer.gif' }
    %td
    %td
    %td
    %td
    %td.line.vertical-line{ :rowspan => 5 }
      %img{ :src => '/images/spacer.gif' }
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }

  %tr
    %td{ :rowspan => 3 }= match_summary @matches, 3
    %td
    %td
    %td
    %td
    %td{ :rowspan => 3 }= match_summary @matches, 7

  %tr
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line.vertical-line{ :rowspan => 7 }
      %img{ :src => '/images/spacer.gif' }
    %td.line.vertical-line{ :rowspan => 7 }
      %img{ :src => '/images/spacer.gif' }
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }

  %tr
    %td{ :rowspan => 5 }= match_summary @matches, 10
    %td{ :rowspan => 5 }= match_summary @matches, 12

  %tr
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }

  %tr
    %td
    %td
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td
    %td

  %tr
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line.vertical-line{ :rowspan => 6 }
      %img{ :src => '/images/spacer.gif' }
    %td
    %td
    %td
    %td
    %td
    %td.line.vertical-line{ :rowspan => 6 }
      %img{ :src => '/images/spacer.gif' }
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }

  %tr
    %td{ :rowspan => 3 }= match_summary @matches, 4
    %td
    %td
    %td
    %td
    %td
    %td{ :rowspan => 3 }= match_summary @matches, 8

  %tr
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td
    %td
    %td
    %td
    %td
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }

  %tr
    %td
    %td
    %td{ :rowspan => 5 }
    %td
    %td

  %tr
    %td
    %td
    %td
    %td
    %td{ :rowspan => 5 }
    %td
    %td
    %td
    %td


  %tr
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
