%table.ladder
  %tr
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line.vertical-line{ :rowspan => 5 }
      %img{ :src => '/images/spacer.gif' }
    %td
    %td
    %td
    %td
    %td
    %td
    
  %tr
    %td{ :rowspan => 3 }= match_summary @matches, 1
    %td
    %td
    %td
    %td
    %td
    %td

  %tr
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line.vertical-line{ :rowspan => 7 }
      %img{ :src => '/images/spacer.gif' }
    %td
    %td
    %td
    %td

  %tr
    %td{ :rowspan => 5 }= match_summary @matches, 5
    %td
    %td
    %td
    %td

  %tr
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td
    %td
    %td
    %td

  %tr
    %td
    %td
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line.vertical-line{ :rowspan => 13 }
      %img{ :src => '/images/spacer.gif' }
    %td
    %td

  %tr
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line.vertical-line{ :rowspan => 5 }
      %img{ :src => '/images/spacer.gif' }
    %td{ :rowspan => 11 }= match_summary @matches, 7
    %td
    %td{ :rowspan => 11 }= match_summary @matches, 8

  %tr
    %td{ :rowspan => 3 }= match_summary @matches, 2
    %td

  %tr
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }

  %tr
    %td
    %td
    %td

  %tr
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td
    %td
    %td

  %tr
    %td
    %td
    %td
    %td
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }

  %tr
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line.vertical-line{ :rowspan => 5 }
      %img{ :src => '/images/spacer.gif' }
    %td
    %td
    %td

  %tr
    %td{ :rowspan => 3 }= match_summary @matches, 3
    %td
    %td
    %td

  %tr
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line.vertical-line{ :rowspan => 7 }
      %img{ :src => '/images/spacer.gif' }
    %td

  %tr
    %td{ :rowspan => 5 }= match_summary @matches, 6
    %td

  %tr
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td

  %tr
    %td
    %td
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td
    %td

  %tr
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td.line.vertical-line{ :rowspan => 5 }
      %img{ :src => '/images/spacer.gif' }
    %td
    %td
    %td
    %td

  %tr
    %td{ :rowspan => 3 }= match_summary @matches, 4
    %td
    %td
    %td
    %td

  %tr
    %td.line.force-1px-height
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td
    %td
    %td
    %td

  %tr
    %td
    %td
    %td
    %td
    %td
    %td

  %tr
    %td.line
      %img{ :src => '/images/spacer.gif', :height => '1', :width => '1' }
    %td
    %td
    %td
    %td
    %td
    %td
