- @meta = { :description => "#{@user.login}'s profile on #{AppConfig.community_name}.", :keywords => "#{@user.login}, #{@user.tags.join(", ") unless @user.tags.nil?}", :robots => AppConfig.robots_meta_show_content }
- @section = @user.eql?(current_user) ? 'my_profile' : 'users'
- @sidebar_left = true

- if @is_current_user and @user.vendor? and (@user.offerings.empty? or @user.description.nil? )
  %p
    ? Hey, you're a
    = AppConfig.community_name
    Pro! You should
    = link_to :update_your-profile.l, edit_user_path(@user)
    \! Add your skills, contact info and Web site.

.yui-b
  .box
    = render :partial => 'profile_user_info_sidebar', :locals => {:user => @user}

  #friends.box.alt
    %h3
      =:my_friends.l
      = link_to "(#{@friend_count})", accepted_user_friendships_path(@user) if @friend_count > 5
    = link_to "&raquo; #{:invite_a_friend.l :site => AppConfig.community_name}", invite_user_path(@user) if @is_current_user
    %br
    = link_to "&raquo; #{:view_all_my_friend_requests.l} (#{@pending_friendships_count})", pending_user_friendships_path(@user) if @is_current_user
    %br
    %br
    - @accepted_friendships.each do |user|
      =render :partial => "users/sidebar_user", :locals => {:user => user}
    -if @accepted_friendships.size > 4
      %h6.all
        =link_to :see_all.l, accepted_user_friendships_path(@user)

  - unless @users_comments.empty?
    #photo_comments.yui-g.box.alt
      %h3=:my_recent_comments.l
      - @users_comments.each do |comment|
        %dl.vcard
          %dt.photo
            = link_to image_tag(comment.recipient.avatar_photo_url(:thumb), :alt => "#{comment.recipient.login}", :width => '50', :height => '50'), commentable_url(comment)
          %dd.fn
            - if comment.recipient.eql?(comment.commentable)
              %strong= :to.l + ": #{link_to comment.recipient.login, commentable_url(comment)}"
            - else
              %strong= :to.l + ": #{link_to comment.recipient.login, user_path(comment.recipient)}"
              %br
              %strong= :on_commentable.l + ": #{link_to comment.commentable_name, commentable_url(comment)} (#{comment.commentable_type})"
          %dd
            %p= "\"#{truncate_words( comment.comment, 10, '...')}\""

  -unless current_user.nil?
    -if current_user.id == @user.id
      #photo_comments.yui-g.box.alt
        %h3="Sponsor Requests"
        -if @sponsors.any?
          -for sponsor in @sponsors
            %div{ :style => "width:250px; height:75px; float:left; " }
              %div{ :style => " width:50px; float:left;" }
                = image_tag(SponsoreAd.find(:first, :conditions => ["sponsor_id LIKE ?", sponsor.sponsor_id]).public_filename(:thumb))
              
              %div{ :style => "position:relative; left:10px;"}
                = User.find(sponsor.sponsor_id).login.capitalize
                &nbsp;&nbsp;&nbsp;&nbsp;
                = link_to ('Show Sponsor', {:controller => 'users', :action => 'show', :id => sponsor.sponsor_id},{:target => "_blank"})
                -if sponsor.accept.nil?
                  &nbsp;&nbsp;
                  = link_to ('Accept', {:controller => 'sponsore_ads', :action => 'change_status', :id => params[:id], :uid => sponsor.user_id, :sid => sponsor.sponsor_id, :status => 1})
                  &nbsp;&nbsp;                  
                  = link_to ('Reject', {:controller => 'sponsore_ads', :action => 'change_status', :id => params[:id], :uid => sponsor.user_id, :sid => sponsor.sponsor_id, :status => 0})
        -else
          No Sponsor Requests
    

  - unless @photo_comments.empty?
    #photo_comments.yui-g.box.alt
      %h3=:photo_comments.l
      - @photo_comments.each do |comment|
        %dl.vcard
          %dt.photo
            = link_to(image_tag(comment.commentable.public_filename(:thumb), :width => '50', :height => '50'), user_photo_path(@user, comment.commentable))
          %dd.fn= "#{comment.username}" + " " + :says.l + ":"
          %dd
            = truncate_words(comment.comment, 10)
            %br
            = link_to "&raquo; " + :view_comment.l, user_photo_path(@user, comment.commentable) + "#comment_#{comment.id}"

#yui-main
  .yui-b
    .yui-gc
      .yui-u.first
        - if @profile.nil? && @photos.empty? && @recent_posts.empty?
          .box.alt.first_alt
            %h3= :small_profile.l :user => @user.login

        - unless @profile.nil?
          #profile.box
            %h3 Profile
            %h4 Name
            %p= @profile.full_name

            - unless @profile.nickname.blank?
              %h4 Nickname
              %p= @profile.nickname

            - unless @profile.ethnicity.blank?
              %h4 Ethnicity
              %p= @profile.ethnicity

            - unless @profile.interests.blank?
              %h4 Interests
              = @profile.interests

            - unless @profile.gaming_philosophy.blank?
              %h4 Gaming Philosophy
              = @profile.gaming_philosophy

            - unless @profile.gaming_counsel.blank?
              %h4 Platform or Gaming Counsel
              = @profile.gaming_counsel

            - unless @profile.equipment_used.blank?
              %h4 Equipment Used
              = @profile.equipment_used

            - unless @profile.venues.blank?
              %h4 Fields and Venues
              = @profile.venues

        - unless @teams.empty?
          #teams.box
            %h3 Teams
            %ul.flat
              = render :partial => 'teams/summary', :collection => @teams

        - unless @photos.empty?
          #photos.box
            %h3=:photos.l
            - @photos.each do |photo|
              = link_to image_tag( photo.public_filename(:thumb), :class => "polaroid"), user_photo_path(@user, photo)

            = "#{link_to(:add_a_photo.l, new_user_photo_path(@user))}" if @is_current_user

            %h6.all.right= link_to :view_all_my_photos.l, user_photos_path(@user)

        #friends.box.alt
          %h3
            Video Player Coming

        -#OpenX::Services::Agency.find(:all).each do |agency|
          =# agency.name    
              
          -#agency.publishers.each do |publisher|
            =# "-- #{publisher.name}"

          -#agency.advertisers.each do |adv|
            =# "-- #{adv.name}"

        #friends.box.alt
          %h3
            Music Player Coming

        - unless @recent_posts.empty?
          #posts.box
            %h3=:recent_blog_posts.l
            = render :partial => 'posts/post', :collection => @recent_posts
            %h6.right.all= link_to :view_my_blog.l, user_posts_path(@user)

        - unless @clippings.empty?
          #clippings.box
            %h3=:clippings.l
            - @clippings.each do |clipping|
              %a{"href"=>"#{h user_clipping_url(@user, clipping)}"}
                %img.clipping.polaroid{"src"=>"#{h clipping.image_uri(:thumb)}", :width => '100', :height => '100'}
            %h6.all.right= link_to :view_all_my_clippings.l, user_clippings_path(@user)

        -#comments.box.hfeed.comments
          %h3=:profile_comments.l
          %h2=:add_your_comment.l
          %p= render :partial => 'comments/comment_form', :locals => {:commentable => @user}
          %a#newest_comment
          = render :partial => 'comments/comment', :collection => @comments
          %span#more_comments_links= more_user_comments_links

      -if @user.sponsored_advertiser==true
        %img{ :src => '/images/flying.jpg', :height => '50', :width => '40', :style => "padding-top: 5px; padding-left:95px;" }
      -else
        %img{ :src => '/images/not_flying.jpg', :height => '50', :width => '100', :style => "padding-top: 5px; padding-left:95px;" }

      .yui-u
        .first_alt         
          - 3.times do
            -if @user.sponsored_advertiser==true
              .box.centered      
                -@sponsor_ads=SponsoreAd.find(:all, :conditions => ["user_id LIKE ?", current_user.id]) 
                    
                -if !current_user.nil?
                  -if !@sponsor_ads.size.nil?
                    -for sponsor_ad in @sponsor_ads                 
                      = link_to (image_tag(sponsor_ad.public_filename(:small)), "http://www.gamdo.com")
                      -SponsorAdStats.create(:sponsor_ad_id => "#{sponsor_ad.id}", :view_type => "impression", :ip => "#{request.remote_ip}")
                  -else
                    = link_to (image_tag('/images/sponsor_this_user.gif'), :controller => 'sponsors', :action => 'sponsor_this_user', :id => @user.id)
                -else
                  = link_to (image_tag('/images/ai.php.gif'), "http://www.gamdo.com")               
                  
            -else
              .box.centered                    
                -if !current_user.nil?
                  = link_to (image_tag('/images/sponsor_this_user.gif'), :controller => 'sponsors', :action => 'sponsor_this_user', :id => @user.id)
                -else
                  = link_to (image_tag('/images/ai.php.gif'), "http://www.gamdo.com")



