.yui-b
  .box.alt.first_alt
    %h3
      =:get_started_tell_us_about_yourself.l
    = render :partial => 'shared/bio_help'
    %p
      =:remember_you_can_always_change_this_later.l
    %p
      = link_to "&raquo; "+  :skip_this_step.l, welcome_invite_user_path(@user)
      %br
      = link_to "&raquo; " + :go_to_your_profile.l, user_path(@user)

  - if @user.avatar_photo_url
    .box.alt
      %h3=:your_profile_photo.l
      .centered
        = @user.vendor ? "<div class='right_corner'><div class='community_pro'></div></div>" : ''
        = image_tag( @user.avatar_photo_url(:medium), :class => "polaroid", :style=>"width:250px" )

#yui-main
  .yui-b.box
    - form_tag user_path(:welcome => 'invite', :from => 'about'), :method => 'put', :multipart =>true, :class => "MainForm" do
      = error_messages_for :user, :profile

      %h3 Your Name
      %label{ :for => 'profile_first_name' } First Name
      = text_field :profile, :first_name
      %label{ :for => 'profile_last_name' } Last Name
      = text_field :profile, :last_name
      %label{ :for => 'profile_nickname' } Nickname
      = text_field :profile, :nickname
      
      %h3=:gender.l
      %fieldset
        %label
          = radio_button :user, :gender, User::MALE
          =:male.l
        %label
          = radio_button :user, :gender, User::FEMALE
          =:female.l
          
      - if @user.vendor?
        %p= render :partial => 'offerings/chooser'

      %h3=:more_about_you.l
      .box
        %label{ :for => 'ethnicity' } Ethnicity
        = text_field :profile, :ethnicity

        %label{ :for => 'profile_interests' } Interests
        = text_area :profile, :interests, :rows => 10, :style => 'width:100%', :class => "rich_text_editor"

        %label{ :for => 'profile_gaming_philosophy' } Gaming Philosophy
        = text_area :profile, :gaming_philosophy, :rows => 10, :style => 'width:100%', :class => "rich_text_editor"

        %label{ :for => 'profile_gaming_counsel' } Platform or Gaming Counsel
        = text_area :profile, :gaming_counsel, :rows => 10, :style => 'width:100%', :class => "rich_text_editor"

        %label{ :for => 'profile_equipment_used' } Equipment Used
        = text_area :profile, :equipment_used, :rows => 10, :style => 'width:100%', :class => "rich_text_editor"

        %label{ :for => 'profile_venues' } Fields and Venues
        = text_area :profile, :venues, :rows => 10, :style => 'width:100%', :class => "rich_text_editor"

      .yui-g
        .yui-u.first
          .box.alt
            %h3
              =:choose_your_location.l
            %br
            =:postal_code.l
            %br
            = text_field :user, :zip, :size => 10
            %br
            %br
            = render :partial => 'shared/location_chooser', :locals => {:selected_country => @user.country_id, :selected_state => @user.state_id, :selected_metro_area => @user.metro_area_id, :states => @states, :metro_areas => @metro_areas}
        .yui-u
          .box.alt
            %h3= :tag_yourself.l
            = text_field_tag 'tag_list', @user.tag_list, {:autocomplete => "off"}
            #tag_list_auto_complete.auto_complete/
            = auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' ']  }
            %br
            %small
              =:comma_separated_keywords_that_describe_you.l
              %br
              =:you_could_tag_yourself.l
              - if @user.vendor?
                =:custom_friendly_local.l
              - else
                = AppConfig.meta_keywords.split(",")[0..3].join(', ')


        %p= submit_tag :save_and_continue_to_step_three.l
