#yui-main
  .yui-b.box
    %h3= "Request to be a member of #{@team.name}"

    = error_messages_for :membership_request

    - form_for @membership_request, :url => team_requests_path(@team), :html => { :class => 'MainForm' } do |f|
      %label From
      %h4= current_user.display_name

      %label To
      %h4= "#{@team.name} Admins"

      %label Your Message
      = f.text_area :message, :rows => 7

      %p= submit_tag 'Submit request', :or => link_to(:cancel.l, teams_path)

.yui-b
  .box.alt.first_alt
    = link_to 'Return to team profile', team_path(@team)
